.card {
  border: 1px solid #fff;
  background: transparent !important;
  box-shadow: 0 1px 3px 1px #eebbc3 !important;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 500px;
  transition: all 0.5s ease 0s !important;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 5px 4px #eebbc3 !important;
}

.project-img {
  width: 100%;
  position: relative;
  height: 200px;
  /* object-fit: cover; */
}

.project-name {
  font-family: "Josefin Sans", sans-serif;
  font-size: var(--body-biggest-fontsize);
  line-height: 1.25;
}

.project-description {
  text-align: left;
  font-size: var(--body-smaller-fontsize);
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.25;
  margin: 1em 0.5em 0 0.5em;
  overflow-wrap: break-word !important;
}

.card > .project-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.project-buttons > * {
  font-size: var(--body-smaller-fontsize);
}

@media (max-width: 768px) {
  .project-description {
    font-size: var(--body-default-fontsize) !important;
  }

  .project-buttons > * {
    font-size: var(--body-default-fontsize);
  }
}
