@import "../../index.css";

.contact {
  display: flex;
  flex-wrap: wrap;
  padding: 0 15%;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.contact > * {
  margin-bottom: 30px;
}

.contact-body {
  display: flex;
}

.contact-form {
  display: flex;
  flex: 1;
}

.contact-text-all {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: #fffffe;
  min-width: 332px;
  text-align: left;
  margin-left: 10%;
}

.contact-header {
  color: #fffffe;
}

.contact-text-header {
  display: inline-block;
  margin-bottom: 0.75em;
  color: #eebbc3;
  font-family: "Caveat", cursive;
  font-size: var(--heading-fontsize);
  text-align: center;
  font-style: italic;
  padding: 0 10px;
}

.contact-text-subheader {
  font-family: "Caveat", cursive;
  font-size: var(--subheading-fontsize);
  text-align: left;
  color: #eebbc3;
}

.contact-text-p {
  padding: 1em 0 2em 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: var(--body-bigger-fontsize);
}

.social-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-links li {
  margin-right: 20px;
}

/* Media Query */
@media (max-width: 992px) {
  .contact {
    align-content: center;
  }

  .contact-header {
    margin: 0;
  }

  .contact-body {
    flex-direction: column;
  }
  .contact-text-all {
    align-items: center;
    margin-bottom: 30px;
    margin-left: 0;
  }

  .social-links li {
    margin: 0 10px 0 10px;
  }
}

@media (max-width: 480px) {
  .contact {
    padding: 0 10%;
  }
}
