@import "../../index.css";

.contact {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20%;
  flex-direction: column;
  /* width: 100%;
  height: 100vh; */
}

.contact > * {
  flex: 1;
  margin-bottom: 30px;
}

.contact-body {
  display: flex;
}

.contact-text-all {
  color: #fffffe;
  justify-content: center;
  min-width: 332px;
}

.contact-header {
  color: #fffffe;
}

.contact-text-header {
  display: inline-block;
  margin-bottom: 0.75em;
  color: #eebbc3;
  font-family: "Caveat", cursive;
  font-size: var(--heading-fontsize);
  text-align: center;
  font-style: italic;
  padding: 0 10px;
}

.contact-text-subheader {
  font-family: "Caveat", cursive;
  font-size: var(--subheading-fontsize);
  text-align: center;
  font-style: italic;
  color: #eebbc3;
}

.social-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-links li {
  margin-right: 10px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input,
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

button[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}
