@import "../../index.css";

.contact {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20%;
  flex-direction: column;
  width: 100%;
  /* height: 100vh; */
}

.contact > * {
  flex: 1;
  margin-bottom: 30px;
}

.contact-body {
  display: flex;
}

.contact-text-all {
  color: #fffffe;
  min-width: 332px;
  text-align: left;
}

.contact-header {
  color: #fffffe;
}

.contact-text-header {
  display: inline-block;
  margin-bottom: 0.75em;
  color: #eebbc3;
  font-family: "Caveat", cursive;
  font-size: var(--heading-fontsize);
  text-align: center;
  font-style: italic;
  padding: 0 10px;
}

.contact-text-subheader {
  font-family: "Caveat", cursive;
  font-size: var(--subheading-fontsize);
  text-align: center;
  color: #eebbc3;
}

.contact-text-p {
  padding: 1em 0 2em 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: var(--body-bigger-fontsize);
}

.social-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-links li {
  margin-right: 20px;
}
