@import "../../index.css";

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #0f0e17;
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
  font-size: var(--body-default-fontsize);
  padding: 10px;
}

/* Media Query */
@media (max-width: 480px) {
  .footer {
    flex-direction: column;
    line-height: 1.5em;
  }
}
